{{ model.nameCategory }}
{{ model.rangeCitation}}

<div class="aehp-separator"></div>
<div class="aehp-separator"></div>

<div class="text-center aehp-citation">
  <p>
    &#8220; {{ model.contentCitation }} &#8221;
  </p>
</div>

<div class="aehp-separator"></div>

<div class="text-center">
  {{ model.authorCitation }}
</div>

<div class="aehp-separator"></div>

<div class="text-center">
  <img src="{{ model.imageLoved }}" (click)="updateCitationImageIsLoved($event)">
</div>

<div class="aehp-separator"></div>

<button class="button" (click)="goToPrecedentCitation()">
  <i fa class="fa fa-arrow-left"></i>
</button>

<button class="button" (click)="goToCategories()">
  <i fa class="fa fa-th-large "></i>
</button>

<button class="button" (click)="goToNextCitation()">
  <i fa class="fa fa-arrow-right"></i>
</button>
